@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  background-color: black;
  color: red;
  animation: fade 5s infinite;
  text-align: center;
  font-size: 1.3rem;
}

body {
  margin: 1rem;
  padding: 2rem;
  font-family: 'VT323', monospace;
}

fieldset {
  border: 1px solid red;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
  animation: border-fade 5s infinite;
}

@keyframes fade {
  0% {
    color: purple;
  }
  33% {
    color: white;
  }
  66% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

@keyframes border-fade {
  0% {
    border-color: purple;
  }
  33% {
    border-color: white;
  }
  66% {
    border-color: blue;
  }
  100% {
    border-color: purple;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  column-gap: 1rem;
}

li {
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

li:last-child {
  border-bottom: none;
}
