.cmd {
    background-color: #007acc;
    color: white !important;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #007acc;
}


.step {
    background-color: rgb(79, 0, 61);
    color: white !important;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #007acc;
}